.camera-header a:first-child {
  float: left;
  font-size: 30px;
  padding-left: 10px;
}
.camera-header a {
  position: relative;
  z-index: 10;
  color: white;
}
.camera-header h1 {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
input {
  width: 100% !important;
  display: none;
  box-sizing: border-box;
}

.btn-large {
  display: block;
  width: 100%;
  background: pink;
  border: none;
  padding: 20px 0;
  text-align: center;
  margin: 0;
}

#bagName {
  height: 40px;
  margin-bottom: 20px;
  text-align: center;
}

#myImg {
  display: block !important;
}

#newBag {
  display: none;
}

#newBag p{
  text-align: center;
}

#newBag .btn-large {
  background-color: #5CB154;
  color: white;
}