.camera-header a:first-child {
  float: left;
  font-size: 30px;
  padding-left: 10px;
}
.camera-header a {
  position: relative;
  z-index: 10;
  color: white;
}
.camera-header h1 {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
input {
  max-width: 100% !important;
  display: none;
}

#bagSubmit {
  display: block;
  width: 100%;
  background: pink;
  border: none;
  padding: 20px 0;
}

#myImg {
  display: block !important;
}