.content {
  position: relative;
}
#sample {
  width: 100%;
  position: fixed !important;
  left: 100%;
  top: 70px;
}

.index-bg {
  position: fixed;
  top: 5%;
  left: 0;
  z-index: -10;
  height: calc(100% - 130px);
  width: 100%;
  background: url(../image/index-bg.png) 50% 10% no-repeat;
  background-size: 150%;
}

/*----------------
    item-list
----------------*/
.item-list {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item-list li {
  display: inline-flex;
  width: 30%;
  text-align: center;

}
.item-list p {
  font-size: 13px;
  margin: 5px 0 15px;
}
