table {
  height: 90px;
  padding: 10px 0;
}
tr {
  line-height: 30px;
}

h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

/*----------------
    single-header
----------------*/
.single-header {
  position: relative;
  padding-left: 20px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.5, #fff), color-stop(0.5, #5CB154), color-stop(0.00, #5CB154));
  background: -webkit-linear-gradient(left, #5CB154 0%, #5CB154 5%, #fff 5%);
  background: -moz-linear-gradient(left, #5CB154 0%, #5CB154 5%, #fff 5%);
  background: -o-linear-gradient(left, #5CB154 0%, #5CB154 5%, #fff 5%);
  background: -ms-linear-gradient(left, #5CB154 0%, #5CB154 5%, #fff 5%);
  background: linear-gradient(to right, #5CB154 0%, #5CB154 5%, #fff 5%);
  color: #333;
}

.content {
  margin-top: 0;
  position: relative;
}

/*----------------
    single-item
----------------*/
.single-main {
  margin-bottom: 30px;
}
.single-main p{
  margin: 10px auto;
  font-size: 14px;
  line-height: 25px;
}
.single-picture {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #95989A;
}
.single-main dl {
  margin: 0 auto;
  overflow: hidden;
  font-size: 12px;
}
.single-main dt {
  float: left;
}
.single-main dd {
  float: right;
}
.single-main-img {
  display: block;
  text-align: center;
}

.single-info img{
  background-color: #82D6FA;
}

.single-info td:first-child {
  width: 55px;
}

img#MyImg {
  display: none;
}
img#thumbnail {
  width: 640px;
}

#sample {
  width: 100%;
  height: 400px;
}
#single-map-in {
  position: relative;
}
#single-map-text ul{
  opacity: 0;
  padding-bottom: 10px
}
#single-map-text ul img{
  vertical-align: middle;
  width: 25px;
  margin: -3px 10px 0 0;
}
#single-map-text li {
line-height: 1.8em;
margin-bottom: 5px;
}
.mapImg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  z-index: 10;
}
#close-btn {
  position: absolute;
  top: 70px;
  right: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: none;
  background: white;
  z-index: 100;
}
#close-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
